{{ partial "header.html" . }}
<!--
<p>
<h1 class="claimtext">
  Dein Blick durch die Entwicklerbrille
</h1>
</p>
-->
<section id=content>
<p>
Ich bin Softwareentwickler, -Architekt, -Berater und -Coach aus Burgwedel, einer kleinen Stadt am Rande von Hannover. 
</p>
<p>
Bekannt bin ich zum Beispiel durch Open Source Projekte im Bereich OSGi u.a. dem Integrationstest-Framework <a href="#">Pax Exam</a> und Kernkomponenten des Java-Containers <a href="#">Apache Karaf</a> (Pax URL).
</p>
<p>
Die <a href="#">rebaze GmbH</a> ist eine von mir gegründete Gesellschaft für Beratungsleistungen im IT-Umfeld.
</p>
<p>
Bis 2002 war ich als Leistungssportler im Judo aktiv.
</p>
</section>
{{ partial "footer.html" . }}

