{{ partial "header.html" . }}
<!--
<p>
<h1 class="claimtext">
  Dein Blick durch die Entwicklerbrille
</h1>
</p>
-->
<div class="child">
<div class="body-reset flex-container">
  <div class="flex-left-big image-container"><img src="/tonit3.png" alt="Toni Menzel"></div>
  <div class="flex-right-big"><h1>Dein Softwareprojekt versinkt in Komplexität?</h1>
      <p>
        Ich bin Softwarearchitekt, Entwickler, Tester, Mentor und Vorbild. Seit gut 20 Jahren bin ich als IT-Consultant in Unternehmen wie Deutsche Bank, Morgan Stanley und Volkswagen aktiv.
        <BR/>
        Meine Leidenschaft für moderne Softwareentwicklung geben ich in Form von Vorträgen, Workshops und Coachings weiter.
      </p>

      <img style="width: 200px; display: inline;" src="/email.png" alt="Test">
    </div>
</div>
</div>

<section id=content>
  <ul class=posts_listing>
    {{ range where .Site.RegularPages "Section" "posts" }}
    
    <div class="flex-container">
      
      <div class="flex-left">{{ with .Params.featured_image }}<img src="{{ . }}">{{ end }}</div>
      <div class="flex-right">
      <li>
        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <div class=date>
          {{if not .Date.IsZero }}
            {{ .Date | time.Format ":date_full"}}
          {{end}}
        </div>
        <p>
          {{ .Summary }}
        </p>
      </li>
      </div>
    </div>
    {{ end }}
  </ul>
</div>
</section>




{{ partial "footer.html" . }}

