{{ partial "header.html" . }}
<!--
<p>
<h1 class="claimtext">
  Dein Blick durch die Entwicklerbrille
</h1>
</p>
-->
<section id=content>
<h1>Hi CTOs & Techleads!</h1>
<p>
Die Software-Driven Organisation <BR/>
ist ein Idealbild deines Unternehmens, <BR/>
in dem Software ein Kernbestandteil ist, <BR/>
der Strategie, Kultur und Wettbewerbsvorteil beeinflusst.
</p>
<p>
Mit euch erarbeite ich <BR/>
einen modernen Software Development Lifecycle, <BR/>
der euch in die Lage versetzt, <BR/>
schnell und sicher neue Ideen zu entwickeln.
</p>
<p>
Ich bin Toni Menzel, <BR/>
lebe als Softwareentwickler, -Architekt, -Berater und -Coach <BR/>
mit meiner Famile in <a href="https://goo.gl/maps/U88HUFLVkFnbY5C67">Burgwedel</a>,<BR/>
einer kleinen Stadt am Rande von Hannover. 
</p>
<p>
Bekannt bin ich auch in veschiedenen Open Source Projekten<BR/>
im Bereich OSGi mit dem Integrationstest-Framework <a href="https://github.com/ops4j/org.ops4j.pax.exam2">Pax Exam</a> <BR/>
und Komponenten der Applikationsplatform <a href="https://karaf.apache.org/">Apache Karaf</a>.
</p>
<p>
Ich biete <BR/>
frisches Consulting<BR/>
für Dev-Teams <BR/>
mit Ambitionen & Humor, <BR/>
auch auf <a href="https://www.linkedin.com/in/tonit/">LinkedIn</a> und <BR/>
meinem Newsletter auf <a href="https://tonimenzel.substack.com/">Substack</a>.
</p>

</section>
{{ partial "footer.html" . }}

