{{ partial "header.html" . }}

<section id=content>
  <ul class=posts_listing>
    {{ range where .Site.RegularPages "Section" "posts" }}
    
    <div class="flex-container">
      
      <div class="flex-left">{{ with .Params.featured_image }}<img src="{{ . }}">{{ end }}</div>
      <div class="flex-right">
      <li>
        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        <div class=date>
          {{if not .Date.IsZero }}
            {{ .Date | time.Format ":date_full"}}
          {{end}}
        </div>
        <p>
          {{ .Summary }}
        </p>
      </li>
      </div>
    </div>
    {{ end }}
  </ul>
</div>
</section>

{{ partial "footer.html" . }}


