{{ partial "header.html" . }}

<section id=content>
  <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

  {{ if .Params.date }}
    <div id=sub-header>
      {{ .Date | time.Format ":date_full"}}
    </div>
  {{ end }}

  <div class="entry-content">
    {{ .Content }}
  </div>

  <div id=links>
    {{ if .PrevInSection }}
      <a href="{{.PrevInSection.RelPermalink}}">&laquo;&nbsp;{{.PrevInSection.Title}}</a>
    {{ end }}
    {{ if .NextInSection }}
      <a href="{{.NextInSection.RelPermalink}}">{{.NextInSection.Title}}&nbsp;&raquo;</a>
    {{ end }}
  </div>
</section>

{{ partial "footer.html" . }}


